
@media only screen and (max-width: 368px) {
    .sidebar-options span{
        display: none;
    }

    .left_area_sidebar h3{
        font-size: 2px;
    }

}

@media only screen and (max-width: 468px) {
    .sidebar-options span{
        display: none;
    }

    .left_area_sidebar h3{
        font-size: 12px;
    }

}


.sidebar-main{
    display: block;
    margin-top: 0;
    height: 100%;
}


.header{
    position: relative;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 4%;
}

.left_area_sidebar{
    justify-content: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 20%;
}

.left_area_sidebar h3{
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;  
    font-weight: 900;    
}

.left_area_sidebar span{
    color: #1DC4E7
}

.left_area h3{
    color: #fff;
    display: flex;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: #1DC4E7
}

.logout_btn{
    float: right;
    text-decoration: none! important;
    float: right;
    margin-top: -44px;
    margin-right: 0.4%;
    border-radius: 10%;
    font-size: 100%;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.sidebar{
    background: #2F323A;
    padding-top: 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
}

.sidebar .profile-image{
    position: relative;
    width: 48%;
    height: 12%;
    border-radius: 50%;
    margin-bottom: 3%;
}

.sidebar{
    color: #ccc;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 10%;
    box-sizing: border-box;
}


.sidebar Link{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 10%;
    box-sizing: border-box;
}

.sidebar a:hover{
    background: #19B3D3;
}

.sidebar i{
    padding-right: 10px;
}

.sidebar span{
    width:100%;
}

.sidebar-btn{
   margin-left: 18%;
   z-index: 1;
   color: #fff;
   position: fixed;
   cursor: pointer;
   font-size: 20px;
}

.sidebar-btn i:hover{
    font-size: 23px;
    color: #19B3D3;
}


.sidebar h4:hover{
    font-size: 25px;
    font-weight: bold;
    color: #1DC4E7
}

.sidebar img:hover{
    width: 60%;
    height: auto;
}